@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

body {
  font-size: 18px;
  font-family: 'FakePearl-Regular', Times, serif;
}

.navbar-container {
  padding-left: 53px;
  padding-right: 53px;
}

.nav-item {
  align-content: center;
  text-align:center; 
  font-size: 1.25em;
}

.backdrop-filter {
  backdrop-filter: blur(10px);
}
